/drive
/datastore
/temp
*.pyc
*.lyx~
*.lyx#
*.RDS
*.RData
*.Rhistory
*.Rapp.history
*.DS_Store
*.aux
*.fls
*.lof
*.lot
*.nav
*.snm
*.toc
*.out
*.svn
*.m~
*.bbl
*.blg
*.handout.pdf
*.handout.lyx
*.synctex.gz

# git-lfs files cannot be included in a template repository
output/analysis/plots/gdp_educ.png
output/analysis/plots/educ_gdp.png
output/paper/TemplateLyx.pdf
output/paper/TemplateTex.pdf
output/talk/TemplateSlides.pdf
output/talk/TemplateSlidesLatex.pdf

*ipynb_checkpoints*
